<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel= "stylesheet"  href= "{{ url_for('static',filename='css/style.css') }}">

    <title>IIT Bhilai Website</title>
</head>

<body>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo">
            	<img src="{{ url_for('static',filename='img/logo.jfif') }}" alt="logo">
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="rightNav ">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>



{% block body%}

{% endblock %}

    <footer class="background">
        <p class="text-footer">
            Copyright &copy;  All rights reserved
        </p>
    </footer>
    <script src="js/resp.js"></script>

</body>

</html>